[user]
	name = Bjorn Stange
	email = bjorn248@gmail.com
[core]
	editor = /usr/bin/vim
[alias]
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[commit]
	gpgsign = true
# Use below on OS X
# [gpg]
# 	program = gpg2
