[user]
    name = Bjorn Stange
    email = bjorn248@gmail.com
	signingkey = BF02F2946CE6FB83
[core]
    editor = /usr/bin/vim
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[commit]
    gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
